In [2]:
import pandas as pd
#if you do not have the pandas module install
#you will need to install the module.
#!pip install pandas

In [5]:
#Path to the test data
file_path = "testData.csv"

#Read the CSV file into python Dataframe
data = pd.read_csv(file_path)

#Display the dataframe
print(data)

    Student  Score
0    Stud 1     76
1    Stud 2     86
2    Stud 3     93
3    Stud 4     75
4    Stud 5     91
5    Stud 6     83
6    Stud 7     79
7    Stud 8     85
8    Stud 9     80
9   Stud 10     83
10  Stud 11     64
11  Stud 12     92
12  Stud 13     86
13  Stud 14     62
14  Stud 15     82
15  Stud 16     84
16  Stud 17     31
17  Stud 18     98
18  Stud 19     84
19  Stud 20     96
20  Stud 21     86
21  Stud 22     85
22  Stud 23     85
23  Stud 24     78
24  Stud 25     59
25  Stud 26     93
26  Stud 27     80
27  Stud 28     90
28  Stud 29     73
29  Stud 30     78
30  Stud 31     88
31  Stud 32     95
32  Stud 33     54
33  Stud 34     78
34  Stud 35     89
35  Stud 36     85
36  Stud 37     71
37  Stud 38     77
38  Stud 39     84
39  Stud 40     87
40  Stud 41     78
41  Stud 42     83
42  Stud 43     97
43  Stud 44     65
44  Stud 45     95
45  Stud 46     66
46  Stud 47     85
47  Stud 48     96
48  Stud 49     96
49  Stud 50     82
50  Stud 51     74
51  Stud 52     78
52  Stud 53     71

In [14]:
def condition_based_value(yourScore):
    if (yourScore>=95):
        return 'A1'
    if (yourScore<95 and yourScore>=89):
        return 'A2'
    if (yourScore<89 and yourScore>=83):
        return 'A3'
    if (yourScore<83 and yourScore>=76):
        return 'A4'
    if (yourScore<76 and yourScore>=70):
        return 'A5'
    if (yourScore<70 and yourScore>=67):
        return 'B1'
    if (yourScore<67 and yourScore>=64):
        return 'B2'
    if (yourScore<64 and yourScore>=60): 
        return 'B3'
    if (yourScore<60 and yourScore>=57):
        return 'C1'
    if (yourScore<57 and yourScore>=54):
        return 'C2'
    if (yourScore<54 and yourScore>=50):
        return 'C3'
    if (yourScore<50 and yourScore>=47):
        return  'D1'
    if (yourScore<47 and yourScore>=44):
         return  'D2'
    if (yourScore<44 and yourScore>=40):
        return 'D3'
    if (yourScore<40 and yourScore>=37):
        return  'MF1'
    if (yourScore<37 and yourScore>=34):
        return 'MF2'
    if (yourScore<34 and yourScore>=30):
        return 'MF3'
    if (yourScore<30 and yourScore>=20):
        return 'CF'
    if (yourScore<20 and yourScore>=1):
      return 'BF'

In [15]:
data['Grade'] = data['Score'].apply(condition_based_value)

In [16]:
print(data)

    Student  Score Grade
0    Stud 1     76    A4
1    Stud 2     86    A3
2    Stud 3     93    A2
3    Stud 4     75    A5
4    Stud 5     91    A2
5    Stud 6     83    A3
6    Stud 7     79    A4
7    Stud 8     85    A3
8    Stud 9     80    A4
9   Stud 10     83    A3
10  Stud 11     64    B2
11  Stud 12     92    A2
12  Stud 13     86    A3
13  Stud 14     62    B3
14  Stud 15     82    A4
15  Stud 16     84    A3
16  Stud 17     31   MF3
17  Stud 18     98    A1
18  Stud 19     84    A3
19  Stud 20     96    A1
20  Stud 21     86    A3
21  Stud 22     85    A3
22  Stud 23     85    A3
23  Stud 24     78    A4
24  Stud 25     59    C1
25  Stud 26     93    A2
26  Stud 27     80    A4
27  Stud 28     90    A2
28  Stud 29     73    A5
29  Stud 30     78    A4
30  Stud 31     88    A3
31  Stud 32     95    A1
32  Stud 33     54    C2
33  Stud 34     78    A4
34  Stud 35     89    A2
35  Stud 36     85    A3
36  Stud 37     71    A5
37  Stud 38     77    A4
38  Stud 39     84    A3
39  Stud 40     87    A3
40  Stud 41     78    A4
41  Stud 42     83    A3
42  Stud 43     97    A1
43  Stud 44     65    B2
44  Stud 45     95    A1
45  Stud 46     66    B2
46  Stud 47     85    A3
47  Stud 48     96    A1
48  Stud 49     96    A1
49  Stud 50     82    A4
50  Stud 51     74    A5
51  Stud 52     78    A4
52  Stud 53     71    A5